/* Used code from https://codepen.io/sanjib104/pen/JjWrbYq?editors=1100 and https://codepen.io/keubibo/pen/yLXYVOK?editors=1100 */
.container-about-me {
  position: relative;
  width: auto 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.container-one {
  position: relative;
  width: 60 rem;
  max-width: auto 100px;
  margin: auto;
  padding-top: 5em;
}

.container-one .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #f2d4d5;
  margin: 30px 20px;
  padding: 20px 15px;
  display: flex;
  box-shadow: 0 5px 20px;
}

.container-one .card:hover {
  transform: scale(1.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 5);
  z-index: 10;
}

.projects-container {
  position: relative;
  width: auto 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

#projectOne {
  padding: 80px;
  margin: 40px;
  flex-wrap: wrap;
}
#projectTwo {
  padding: 80px;
  margin: 40px;
  flex-wrap: wrap;
}
#projectThree {
  padding: 80px;
  margin: 40px;
  flex-wrap: wrap;
}
#projectFour {
  padding: 80px;
  margin: 40px;
  flex-wrap: wrap;
}
#projectFive {
  padding: 80px;
  margin: 40px;
  flex-wrap: wrap;
}
#projectSix {
  padding: 80px;
  margin: 40px;
  flex-wrap: wrap;
}
.self {
  border: 5px solid #374e34;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  width: auto 150px;
  opacity: 0.8;
}

#scotttot {
  max-width: 100%;
  height: auto;
}
