#projectOne {
  padding: 80px;
  margin: 40px;
  flex-wrap: wrap;
}
#projectTwo {
  padding: 80px;
  margin: 40px;
  flex-wrap: wrap;
}
#projectThree {
  padding: 80px;
  margin: 40px;
  flex-wrap: wrap;
}
#projectFour {
  padding: 80px;
  margin: 40px;
  flex-wrap: wrap;
}
#projectFive {
  padding: 80px;
  margin: 40px;
  flex-wrap: wrap;
}
#projectSix {
  padding: 80px;
  margin: 40px;
  flex-wrap: wrap;
}
