.form {
  position: relative;
  border: solid var(--text-color) 4px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 25px;
  background: var(--mustard);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1lf);
  grid-template-rows: somegridarea 4;
}

.input {
  font: var(--font);
  background-color: var(--off-white);
  display: flex;
  border: solid 2px var(--text-color);
  font-size: 20px;
}

.textarea {
  font: var(--font);
  background-color: var(--off-white);
  display: flex;
  border: solid 2px var(--text-color);
  font-size: 20px;
}

.button {
  font: var(--font);
  font-size: 24px;
  background-color: var(--off-white);
  transition-duration: 0.4s;
}

.button:hover {
  background-color: var(--text-color);
  color: var(--off-white);
  font: var(--font);
  font-size: 24px;
}

.contact-title {
  border-bottom: 4px solid;
  border-radius: 5;
  border-color: var(--text-color);
  color: var(--text-color);
  font-size: 36px;
  padding: 0.7rem;
}

.container {
  margin: 0 auto;
  box-shadow: 3px, 3px, 3px, 3px, grey;
  display: block;
  padding: auto;
  border: auto;
}

.contact-me {
  font-size: 22px;
}

.sources {
  padding: 2rem;
}

/* Hover effect from https://codepen.io/VladimirVaize/pen/PoPXygB */
ul {
  position: relative;
  display: flex;
  flex-direction: column;
}

ul li {
  list-style: none;
}
ul li::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 6em;
  font-weight: 700;
  pointer-events: none;
  opacity: 0;
  letter-spacing: 20px;
  transition: 0.5s;
  white-space: nowrap;
}
/* ul li:hover::before {
  opacity: 0.05;
  letter-spacing: 5px;
} */
ul li a {
  position: relative;
  display: inline-block;
  padding: 6px 15px;
  text-decoration: none;
  background: var(--brown);
  color: #fff;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.5s;
  font-family: var(--font);
  z-index: 1;
}
ul:hover li a {
  opacity: 0;
}
ul li a:hover {
  transform: scale(1.4);
  z-index: 1000;
  background: var(--text-color);
  opacity: 1;
}
ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 80px;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  transform: skewX(35deg);
  transition: 0s;
}
ul li a:hover::before {
  left: calc(100% + 100px);
  transition: 0.5s;
  transition-delay: 0.2s;
}
