.title {
  border-color: var(--text-color);
  color: var(--text-color);
  border: 4px solid;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 25px;
  background-color: var(--mustard);
  /* padding: 0.2em; */
  padding-top: 0;
}

.container {
  /* margin: 0 auto; */
  border: 4px transparent;
  display: flex;
  padding: 1em;
  color: var(--text-color);
}

.nav-menu {
  list-style-type: none;
  padding: 1em;
  margin: 0;
  font-size: 22px;
}

.list {
  display: block;
  color: var(--text-color);
  padding: 0 20px;
  text-decoration: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before,
span:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: var(--text-color);
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: var(--text-color);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: var(--text-color);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
