.form {
  position: relative;

  margin: 0 auto;
  padding: 1rem;
  border-radius: 25px;
  box-sizing: border-box;
  background: var(--mustard);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1lf);
  grid-template-rows: somegridarea 4;
}

.input {
  font: var(--font);
  background-color: var(--off-white);
  display: flex;
  border: solid 2px var(--text-color);
}

.textarea {
  font: var(--font);
  background-color: var(--off-white);
  display: flex;
  border: solid 2px var(--text-color);
}

.button {
  font: var(--font);

  background-color: var(--off-white);
  transition-duration: 0.4s;
}

.button:hover {
  background-color: var(--text-color);
  color: var(--off-white);
  font: var(--font);
}
