/* Used code from https://codepen.io/sanjib104/pen/JjWrbYq?editors=1100 and https://codepen.io/keubibo/pen/yLXYVOK?editors=1100 */

.container-one {
  position: relative;
  max-width: auto 100px;
  margin: auto;
  padding-top: 5em;
  display: column;
  justify-content: space-evenly;
}

.container-one .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: var(--sage);
  margin: 30px 20px;
  padding: 20px 15px;
  border-radius: 25px;
  display: flex;
  box-shadow: 0 5px 20px;
  flex-direction: column;
  justify-content: space-between;
}
.container-one .card .image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.container-one .card:hover {
  transform: scale(1.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 5);
  z-index: 10;
}

.projects-container {
  position: relative;
  width: auto 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

#projectOne {
  padding: 80px;
  margin: 40px;
}
#projectTwo {
  padding: 80px;
  margin: 40px;
}
#projectThree {
  padding: 80px;
  margin: 40px;
}
#projectFour {
  padding: 80px;
  margin: 40px;
}
#projectFive {
  padding: 80px;
  margin: 40px;
}
#projectSix {
  padding: 80px;
  margin: 40px;
}

#scotttot {
  max-width: 100%;
  height: auto;
}
