body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-one {
  position: relative;
  width: 60 rem;
  max-width: 1000px;
  margin: auto;
  padding-top: 5em;
}

#scotttot {
  max-width: 100%;
  height: auto;
}

#umbrella {
  max-width: 100%;
  height: auto;
}
